@model security_lighting_microsite.models.Fixture
@{ 
  Layout = null;

  var type = Model.Type.Replace(' ', '-').ToLower();
  var summary = Model.Summary;
}

<div class="fixture-summary">
  <div class="fixture-summary-images">
    <img src="~/images/fixtures/@type/product-image.jpg" class="featured-image" />

    <img src="~/images/fixtures/@type/installation-1.jpg" class="img-responsive" />
    <img src="~/images/fixtures/@type/installation-2.jpg" class="img-responsive" />
    <img src="~/images/fixtures/@type/installation-3.jpg" class="img-responsive" />
    <img src="~/images/fixtures/@type/installation-4.jpg" class="img-responsive" />
  </div>

  <div class="fixture-summary-data">
    <h4>@Model.Type</h4>

    <p>
      @summary
    </p>

    <h5>Features:</h5>

    <ul>
      @foreach (var feature in Model.Features) {
        <li>@feature</li>
      }
    </ul>

    <a href="~/@(ViewBag.OpCo)/fixture/@Model.Type.ToLower().Replace(' ', '-')" class="btn btn-entergy btn-hollow">View Fixture Details</a>
  </div>
</div>