<section class="footer container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="site-links">
              <div class="text-wrap">
                <h6>Available Fixtures</h6>

                <ul>
                  <li>Residential</li>
                  <li>Commercial</li>
                </ul>
              </div>

              <div class="text-wrap">
                <h6>Entergy</h6>

                <ul>
                  <li>Company Site</li>
                  <li>About</li>
                  <li>My Account</li>
                </ul>
              </div>

              <div class="text-wrap last">
                <h6>Need help?</h6>

                <ul>
                  <li>Contact Us</li>
                  <li>1-866-603-0192</li>
                </ul>
              </div>
            </div>

            <div class="social">
              <ul class="social-links">
                <li><a href="https://www.facebook.com/entergy/" target="_blank" class="social-link social-link-facebook"></a></li>
                <li><a href="https://twitter.com/Entergy" target="_blank" class="social-link social-link-twitter"></a></li>
                <li><a href="https://www.linkedin.com/company/entergy" target="_blank" class="social-link social-link-linkedin"></a></li>
                <li><a href="http://www.entergynewsroom.com/rss/" target="_blank" class="social-link social-link-rss"></a></li>
                <li><a href="https://plus.google.com/111631769444254162638/posts" target="_blank" class="social-link social-link-gplus"></a></li>
                <li><a href="https://www.youtube.com/user/entergy" target="_blank" class="social-link social-link-youtube"></a></li>
                <li><a href="https://vimeo.com/entergy" target="_blank" class="social-link social-link-vimeo"></a></li>
                <li><a href="https://www.flickr.com/photos/entergy/" target="_blank" class="social-link social-link-flickr"></a></li>
              </ul>
            </div>

            <p>
              &copy; @DateTime.Now.Year Entergy. All rights reserved.<br />
              <span>|</span>
              <a href="#">Privacy Policy</a>
              |
              <a href="#">Terms and Conditions</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>